* {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
  color: white;
}

body {
  background-color: black;
}

main {
  padding-top: 50px;
  background-color: black;
}

main .container {
  padding-left: 6%;
  padding-right: 6%;
  padding-bottom: 3%;
}

.container {
  width: 100%;
  padding-left: 1%;
  padding-right: 1%;
  box-sizing: border-box;
  overflow: auto;
}

.navbar {
  width: 100%;
  padding-bottom: 100px;
}

.navbar .logo {
  width: 150px;
  cursor: pointer;
  margin: 30px 0;
}

.navbar .menuimg {
  width: 60px;
  cursor: pointer;
}

#top {
  background-color: #777777;
  padding-bottom: 0px;
  border-radius: 4px;
}

.currentLocation {
  width: 20px;
  height: 20px;
}

#today {
  text-align: center;
  color: white;
  right: 50px;
  background-color: #50c878;
  font-size: 200%;
  border-radius: 20px;
}

#today #Temp {
  font-size: 300%;
  padding-top: 40px;
  padding-bottom: 40px;
}

#today a {
  padding-bottom: 20px;
}

#iconGrid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  overflow: visible;
}

#iconGrid .infoIcon {
  width: 100px;
  height: 100px;
  text-align: center;
  background-color: #00a86b;
  color: white;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

#iconGrid .socialMedia {
  opacity: .99;
  padding-top: 0;
  padding-left: 0;
}

.socialMedia {
  padding-top: 100px;
  padding-left: 25px;
  width: 60px;
  height: 60px;
}

.socialMedia:hover {
  width: 70px;
  height: 70px;
}
/* ...............................................*/

.dropdown{
  background-color: aqua;
}
.dropbtn{}
/*................................................*/
@media only screen and (max-width: 580px) {
  /* Dropdown Button */
  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  .dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
  }
  #myInput {
    box-sizing: border-box;
    background-image: url("searchicon.png");
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  #myInput:focus {
    outline: 3px solid #ddd;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
  }
  .dropdown-content a {
    text-align: right;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown a:hover {
    background-color: #ddd;
  }
  .show {
    display: block;
  }
  .socialMedia {
    padding-top: 20px;
    padding-left: 10px;
    width: 60px;
    height: 60px;
  }
}
