$infoFont : 200%;
$tempFont : 300%;
$iconBoxes: 100px;
$bodyBackground:black;
$todayBackground:#1759bb;//#3fff00;//#50D8D7;
$textColor:white;
$infoIcon:#e2d300  ;
$headerBackgroung:hsl(152, 100%, 44%) ;
$menuButton:white;
$linkButton:#e2c779;
$menuImg:url("./images/menu.png");



*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{color: $textColor;}

body{background-color: $bodyBackground;// #1fd1f9;
    //background-image: //linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
    }

main{
    padding-top: 50px;
    .container{
        padding-left: 6%;
        padding-right: 6%;
        padding-bottom: 3%;
    }
    background-color: black;
}


//..................................................................
//.................Search Icon......................................


//....................................................................
//....................................................................
.container{
    width: 100%;
    //min-width: 100vh;
    padding-left: 1%;
    padding-right: 1%;
    box-sizing: border-box;
    overflow:auto;

}
.navbar{
    width: 100%;
    padding-bottom: 100px;
    display:flex;
    padding-left: 2%;
    
    
    .logo{
        width: 150px;
        cursor: pointer;
        margin: 30px 0;
    }

    .menuimg{
        width: 60px;
        cursor: pointer;
    }
}  

#top{
    background-color: $headerBackgroung;
    padding-bottom: 0px;
    border-radius: 4px;
}
.currentLocation{
    width: 20px;
    height: 20px;
}
#today{
    text-align: center;
    color:$textColor;
    right: 50px;
    background-color:$todayBackground;
    font-size: $infoFont;
    border-radius: 20px;
    #Temp{
        font-size:$tempFont;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    a{
        padding-bottom: 20px;
    }    
}
#iconGrid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    overflow: visible;

    .infoIcon{
        width:$iconBoxes;
        height: $iconBoxes;
        text-align: center;
        background-color: $infoIcon;
        color: $textColor;
        border-radius: 10px;
        margin: 10px;
        padding: 10px;    
    }
    .socialMedia{
        opacity: .99;
        padding-top: 0;
        padding-left: 0;
    }
}
.socialMedia{ 
    padding-top: 100px;
    padding-left: 25px;
    width: 60px;
    height: 60px;  
}
.socialMedia:hover{
    width: 70px;
    height: 70px;
}
//.......................................................
       /* Dropdown Button */

       .navbar{
        width: 100%;
        padding-bottom: 100px;
        display:flex;
        
        padding-left: 2%;
        border: solid gold;
    }    

       .dropbtn{
           display: none;
     }

     
     #myInput {
       box-sizing: border-box;
       background-image: url('searchicon.png');
       background-position: 14px 12px;
       background-repeat: no-repeat;
       font-size: 16px;
       padding: 14px 20px 12px 45px;
       border: none;
       border-bottom: 1px solid #ddd;
       
       
     }
     
     #myInput:focus {outline: 3px solid #ddd;}
     
     .dropdown {
       position: relative;
       
       width: 100%;
       height:214px;
     }
     
     .dropdown-content {
       display: flex;
       position: absolute;
       background-color:$linkButton;
       min-width: 230px;
       overflow: auto;
       border: 1px solid #ddd;
       z-index: 1;
       
       bottom: 0;
       right: 0;
     }
     
     .dropdown-content a {
       text-align: right;  
       color: black;
       padding: 12px 16px;
       text-decoration: none;
       display: block;
       
     }
     
     .dropdown a:hover {background-color: rgb(172, 61, 61);}


//.............................................................


@media only screen and(max-width:480px){
       /* Dropdown Button */
   .dropbtn {
    position: absolute;
    display: block;
    right: 0;
    width: 50px;
    height: 50px;
 padding: 16px;
 font-size: 16px;
 border: none;
 cursor: pointer;
 border: solid red;
}
   
  
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
    position: absolute;

  }
  .show {display: block;}

  
  #myInput {
    box-sizing: border-box;
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 17px 61px 12px 60px;
    border: none;
    border-bottom: 1px solid #ddd;

  }
  
  #myInput:focus {outline: 3px solid #ddd;}
  
  .dropdown {
    position: relative;
    display: inline-block;
    border: solid orangered;
    width: 100%;    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: $linkButton;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    //z-index: 1;
  }
  
  .dropdown-content a {
    text-align: right;  
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  .show {display: block;}


//............Social media mobile..................
  .socialMedia{ 
    padding-top: 20px;
    padding-left: 10px;
    width: 60px;
    height: 60px;

    
}


}
